In [3]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [4]:
x = np.array([2,4,5,3,6,5,7])
y = np.array([35,60,20,50,50,55,60])

In [6]:
df = pd.DataFrame({'x': x, 'y': y})

In [7]:
df

   x   y
0  2  35
1  4  60
2  5  20
3  3  50
4  6  50
5  5  55
6  7  60

In [9]:
X = df[['x']]
Y = df['y']

In [15]:
sumofX = np.sum(x)
sumofY = np.sum(y)
sumXY = np.sum(x*y)
sumx = np.sum(x**2)
n = len(x)
xmean = sumofX/n
ymean = sumofY/n

In [20]:
m = (n*sumXY - sumofX*sumofY ) / (n*sumx - sumofX**2)
print(round(m,2))

2.62

In [19]:
c = ymean - m * xmean
print(round(c,2))

35.16

In [24]:
def predicted(a,m,c):
    return m*a + c
xval = 6
y_pred =predicted(xval,m,c)
print(y_pred)
print(round(y_pred,2))

50.88709677419355
50.89

# Residual Calculation

In [23]:
X

   x
0  2
1  4
2  5
3  3
4  6
5  5
6  7

In [28]:
df['y_pred']= round(predicted(df['x'],m,c),2)

In [29]:
df

   x   y  y_pred
0  2  35   40.40
1  4  60   45.65
2  5  20   48.27
3  3  50   43.02
4  6  50   50.89
5  5  55   48.27
6  7  60   53.51

In [30]:
df['residual'] = df['y_pred'] - df['']

   x   y  y_pred  residual
0  2  35   40.40      5.40
1  4  60   45.65    -14.35
2  5  20   48.27     28.27
3  3  50   43.02     -6.98
4  6  50   50.89      0.89
5  5  55   48.27     -6.73
6  7  60   53.51     -6.49

# MSE and MAE

In [31]:
MSE = np.sum((df['y']- df['y_pred'])**2)/n
MSE

167.3144142857143

In [38]:
MAE = np.sum(abs(df['y']- df['y_pred']))/n
MAE

9.872857142857143

In [36]:
RMSE = MSE**0.5

In [44]:
df

   x   y  y_pred  residual
0  2  35   40.40      5.40
1  4  60   45.65    -14.35
2  5  20   48.27     28.27
3  3  50   43.02     -6.98
4  6  50   50.89      0.89
5  5  55   48.27     -6.73
6  7  60   53.51     -6.49

In [45]:
df['MSE'] = round(((df['y']- df['y_pred'])**2)/n,2)
df

   x   y  y_pred  residual     MSE
0  2  35   40.40      5.40    4.17
1  4  60   45.65    -14.35   29.42
2  5  20   48.27     28.27  114.17
3  3  50   43.02     -6.98    6.96
4  6  50   50.89      0.89    0.11
5  5  55   48.27     -6.73    6.47
6  7  60   53.51     -6.49    6.02

In [47]:
df['MAE']=round(((abs(df['y']- df['y_pred']))/n),2)
df

   x   y  y_pred  residual     MSE   MAE
0  2  35   40.40      5.40    4.17  0.77
1  4  60   45.65    -14.35   29.42  2.05
2  5  20   48.27     28.27  114.17  4.04
3  3  50   43.02     -6.98    6.96  1.00
4  6  50   50.89      0.89    0.11  0.13
5  5  55   48.27     -6.73    6.47  0.96
6  7  60   53.51     -6.49    6.02  0.93

In [48]:
!pip install pandas openpyxl

Requirement already satisfied: pandas in c:\users\afifa\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: openpyxl in c:\users\afifa\anaconda3\lib\site-packages (3.1.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\afifa\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\afifa\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\afifa\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\afifa\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: et-xmlfile in c:\users\afifa\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\users\afifa\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [51]:
df.to_csv('dataset_pred.csv',index = False)

In [52]:
df

   x   y  y_pred  residual     MSE   MAE
0  2  35   40.40      5.40    4.17  0.77
1  4  60   45.65    -14.35   29.42  2.05
2  5  20   48.27     28.27  114.17  4.04
3  3  50   43.02     -6.98    6.96  1.00
4  6  50   50.89      0.89    0.11  0.13
5  5  55   48.27     -6.73    6.47  0.96
6  7  60   53.51     -6.49    6.02  0.93